<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon class="iconback" slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated type="search" placeholder="Search username" (ionInput)="filterList($event)"></ion-searchbar>
  <div id="container" *ngIf="!search">
    <ion-img src="../assets/img/search.png"></ion-img>
  </div>
  <div *ngIf="checkuser == true">
    <ion-card *ngFor="let user of users">
      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/img/profile.png">
        </ion-avatar>
        <ion-label>{{user.user_name}}</ion-label>
        <ion-icon (click)="request(user.user_id)" slot="end" name="add"></ion-icon>
      </ion-item>
    </ion-card>
  </div>
  
</ion-content>
