<ion-content>
  <ion-tabs translucent>
    <ion-tab-bar slot="bottom" class="slide-in-bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
        <!--<ion-badge>6</ion-badge>-->
      </ion-tab-button>

      <ion-tab-button tab="debt">
        <ion-icon name="wallet"></ion-icon>
        <ion-label>Debt</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="adddebt" class="add">
        <ion-icon name="add-circle" class="iconbig"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="history">
        <ion-icon name="people"></ion-icon>
        <ion-label>Friend</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
