<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button class="signupbtn" (click)="signup()">
        SIGN UP
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" fullscreen="true">
    <div id="container"  class="slide-in-top">
      <ion-img src="../assets/icon/buku555.png" ></ion-img>
    </div>
  <br/>
    <h6 *ngIf="animategrid == true" class="fade-in-fwd">"Jangan Lupa Bayar Hutang"</h6><br/><br/>
      <ion-grid *ngIf="animatebased == true">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" [(ngModel)]="email" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [(ngModel)]="pass" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="btnlogin" (click)="signin()" expand="block">SIGN IN</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>

