ion-title {
  text-align: center;
  color: #f79d00;
}

ion-content {
  --background: #f6f6f6;
}

ion-toolbar {
  --background: white;
}



.category {
  margin-top: 20%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  height: 80%;

  ion-card {
    padding: 40px;
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
    text-align: center;
    height: 80%;
    width: 90%;
    background: linear-gradient(to right, #02aab0, #00cdac);
    display: inline-block;

    ion-card-title {
      color: white;
      font-family: chalk;
      font-size: 30px;
    }
  }
}
